*{
    font-size: 25px;
    font-family: 'DynaPuff', cursive;
    color: red;
    font-weight: 100;
}



.Hola{
    font-size: 25px;
    font-family: 'DynaPuff', cursive;
    color: red;
    font-weight: 100;
}